.enquiries-form{
    &__input{
        &--required{
            color: $red;
        }
        &--2-col{
            width: 100%;
            padding: 15px;
        }
    }

    &__button{
        margin-top: 15px;
        height: 60px;
        width: 50%;
    }

    &__icon{
        display: inline-block;
        width: 15%;
        height: 70px;
        text-align: center;
        font-size: 48px;
        color: $purple;
    }
}

//react-datepicker container
.react-datepicker__input-container{
    width: 100%;
}
.react-datepicker-wrapper{
    width: 85%;
}