.search{
    &__container{
        position: relative;
        width: 60%;
        margin: auto;
        text-align: center;
        padding: 70px 0 70px 0;
        @include responsive-container;
    }

    &__input{
        border-right: none !important;
        border-radius: 5px 0 0 5px !important;
    }

    &__icon{
        background-color: $white;
        border: 2px solid $purple;
        border-left: none;
        border-radius: 0 5px 5px 0; 
        padding: 15px;
        color: $turquoise;
        font-size: 35px;
        &:hover{
            cursor: pointer;
        }
    }

    &__heading{

        &--black{
            color: $black;
        }
    }

    &__suggested{
        display: block;
        text-align: left;
        color: $white;
        &--none{
            display: none;
        }
    }

    &__dropdown{
        width: 100%;
        padding: 15px;
        text-align: left;
        min-height: 0;
        display: none;
        margin-top: -56px; 
        border: 2px solid $purple;
        border-top: none;
        border-radius: 5px;
        background-color: $white;
        position: absolute;
        padding-top: 0;
        z-index: 100;

        &--show{
            display: block;
        }
        &--hide{
            display: none;
        }
    }

    &__innder-dropdown-container{
        margin-top: 15px;
    }

    &__dropdown-image{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    &__dropdown-text{
        display: inline-block;
        margin-left: 30px;
        font-size: 20px;
        &--info{
            color: $light-purple;
            font-size: 12px;
            text-align: right;
        }
    }
}