// imports
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lato|Raleway');

//fonts
$heading: 'Lato', sans-serif;
$content: 'Raleway', sans-serif;
$input: 'Comfortaa', cursive;
$button: 'Comfortaa', cursive;
$navigation: 'Comfortaa', cursive;

//colors
$white: white;
$light-grey: #f0f0f0;
$grey: #afacac;
$black: #000036;
$purple: #4b0082;
$light-purple: #b1a4ba;
$turquoise: #40e0d0;

//break points
$bpLarge: 1200px;
$bpMedium: 991px;
$bpSmall: 767px;
$bpXSmall: 600px;