.admin-est{
    width: 60%;
    margin: auto;
    background: $white;
    border: 2px solid $purple;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    @include responsive-container;

    &__heading{
        color: $purple;
        text-align: center;
    }

    &__pluss-btn{
        position: fixed;
        display: flex;
        justify-content : space-around;
        align-items: center;
        background-color: $turquoise;
        color: $white;
        height: 80px;
        width: 80px;
        border: 2px solid $light-grey;
        border-radius: 40px;
        bottom: 30px;
        right: 30px;
        transition: 0.4s;
        &:hover{
            cursor: pointer;
            border-radius: 50px;
            width: 85px;
            height: 85px;
            transition: 0.4s;
            transform: rotate(180deg);
        }
    }
    &__pluss-btn-icon{
        font-size: 40px;
        position: relative;
    }
}

.admin-est-comp{
    background-color: $light-grey;
    border: 2px solid $purple;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    &:hover{
        cursor: pointer;
    }

    &__img{
        width: 75px;
        height: 75px;
        border-radius: 100px;
    }

    &__heading{
        font-size: 25px;
        margin-bottom: 0;
    }

    &__text{
        font-size: 25px;
        color: $turquoise;
        margin-bottom: 0;
    }
    &__more-info{
        display: none;
        &--show{
            display: block;
        }
    }
}