.admin-messages{
    width: 60%;
    margin: auto;
    @include responsive-container;
    background-color: $white;
    border: 2px solid $purple;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    &__heading{
        color: $purple;
        text-align: center;
    }
}

.admin-messages-comp{
    position: relative;
    background-color: $light-grey;
    border: 2px solid $purple;
    border-radius: 5px;
    padding: 30px 15px 30px 15px;
    margin-top: 15px;
    &:hover{
        cursor: pointer;
    }
    &__heading{
        font-size: 25px;
        margin: 0;
        margin-right: 50px;
    }
    &__icon{
        color: $turquoise;
        position: absolute;
        top: 12px;
        right: 15px;
        font-size:40px; 
    }
    &__more-info{
        display: none;
        &--show{
            display: block;
        }
    }
}