.new-establishment{
    width: 60%;
    margin: auto;
    background-color: $white;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid $purple;
    border-radius: 5px;
    padding: 15px;
    @include responsive-container;
    &__input{
        &--required{
            color: $red;
        }
        &--error{
            border: 2px solid $red !important;
        }
        &--disabled{
            background-color: $light-grey;
            text-align: center;
        }   
    }
    &__error-text{
        display: none;
        &--show{
            color:$red;
            display: block;
        }
    }
    &__checkbox{
        width: 60px;
        height: 60px;
    }

    &__button{
        height: 60px;
        width: 50%;
    }
    &__heading{
        color: $purple;
        text-align: center;
    }
}